{% extends "layout.html" %}
{% block body %}
	<h2>Tool {{ tool.name }}<div class="pull-right"><button type="button" class="btn btn-default" data-toggle="modal" title="Collection Events" data-target="#toolCollectionEvents"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span></button>&nbsp;<button type="button" class="btn btn-default" title="Settings" id="buttonToolSettings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button></div></h2>

	<h3>CEs
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ceCollapse" aria-expanded="false" aria-controls="ceCollapse">
			Toggle
		</button>
	</h3> 
	<div class="collapse" id="ceCollapse">
		<div class="well">
			<table class="table table-condensed table-hover" id="ceidtable">
				<tr><th>CEID</th><th>Name</th><th>Data</th></tr>
			</table>  	
		</div>
	</div>

	<h3>SVIDs
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#svidCollapse" aria-expanded="false" aria-controls="svidCollapse">
			Toggle
		</button>
	</h3> 
	<div class="collapse" id="svidCollapse">
		<div class="well">
			<table class="table table-condensed table-hover">
				<tr><th>SVID</th><th>Name</th><th>Value</th><th></th></tr>
 				{% for svid in svids %}
 					<tr>
 						<td><small>{{ svid[0].value }}</small></td>
 						<td><small>{{ svid[1].value }}</small></td>
 						<td><small><span id="svid{{ svid[0].value }}">{{ svid[2].value }}</span></small></td>
 						<td><a id="refreshSVID{{ svid[0].value }}" href="{{ url_for('tool_sv', toolname=tool.name, svid=svid[0].value) }}"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></a></span></td>
 					</tr>
					<script type="text/javascript">
						$('#refreshSVID{{ svid[0].value }}').click(function(event){
							event.preventDefault();
							$('#svid{{ svid[0].value }}').load(this.href)
						})
					</script>
				{% endfor %}
			</table>  	
		</div>
	</div>

	<h3>ECIDs
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ecidCollapse" aria-expanded="false" aria-controls="ecidCollapse">
			Toggle
		</button>
	</h3>
	<div class="collapse" id="ecidCollapse">
		<div class="well">
			<table class="table table-condensed table-hover">
				<tr><th>ECID</th><th>Name</th><th>Min</th><th>Max</th><th>Def</th><th>Units</th><th>Value</th><th></th></tr>
				{% for ecid in ecids %}
					<tr>
						<td><small>{{ ecid[0].value }}</small></td>
						<td><small>{{ ecid[1].value }}</small></td>
						<td><small>{{ ecid[2].value }}</small></td>
						<td><small>{{ ecid[3].value }}</small></td>
						<td><small>{{ ecid[4].value }}</small></td>
						<td><small>{{ ecid[5].value }}</small></td>
						<td><small><span id="valueECID{{ ecid[0].value }}"></span></small></td>
						<td>
							<a id="editECID{{ ecid[0].value }}" href="{{ url_for('tool_ec', toolname=tool.name, ecid=ecid[0].value) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></a></span>
							<a id="refreshECID{{ ecid[0].value }}" href="{{ url_for('tool_ec', toolname=tool.name, ecid=ecid[0].value) }}"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></a></span>
						</td>
					</tr>
					<script type="text/javascript">
						$('#refreshECID{{ ecid[0].value }}').click(function(event){
							event.preventDefault();
							$('#valueECID{{ ecid[0].value }}').load(this.href);
						})

						$('#editECID{{ ecid[0].value }}').click(function(event){
							event.preventDefault();
							$('#valueECID{{ ecid[0].value }}').html('<form id="formECID{{ ecid[0].value }}" action="{{ url_for("tool_ec", toolname=tool.name, ecid=ecid[0].value) }}"><input id="inputECID{{ ecid[0].value }}" type="text"></form>');
							$("#inputECID{{ ecid[0].value }}").focus();

							href=this.href;

							$("#formECID{{ ecid[0].value }}" ).submit(function( event ) {
								val = $("#inputECID{{ ecid[0].value }}").val();
								$.post(href, 'value=' + val , function( data ) {
									$('#valueECID{{ ecid[0].value }}').load(href);
								});
								event.preventDefault();
							});
						})
					</script>
				{% endfor %}
			</table>  	
		</div>
	</div>

	<h3>Terminal
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#terminalCollapse" aria-expanded="false" aria-controls="terminalCollapse">
			Toggle
		</button>
	</h3> 
	<div class="collapse" id="terminalCollapse">
		<div class="well">
			<pre id="terminal"></pre>
			<form id="formTerminal" action="{{ url_for("tool_terminal", toolname=tool.name, TID=0) }}"><input id="terminalText" class="form-control" type="text"></form>
		</div>
	</div>

<!-- Modal -->
<div class="modal fade" id="toolSettings" tabindex="-1" role="dialog" aria-labelledby="toolSettingsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="toolSettingsLabel">Settings</h4>
      </div>
      <div class="modal-body">
		<form id="formSettings" action="{{ url_for("tool_settings_update", toolname=tool.name) }}">
			<div class="checkbox">
				<label>
					<input type="checkbox" id="toolInputEnabled"> Enabled
				</label>
			</div>
			<div class="form-group">
				<label for="toolInputType">Type</label>
				<select id="toolInputType" class="form-control">
				{% for module in modules %}
					<option value="{{ module[0] }}">{{ module[0] }}</option>
				{% endfor %}
				</select>
         	</div>
			<div class="form-group">
				<label for="toolInputAddress">Address</label>
				<input type="text" class="form-control toolInputSubmittable" id="toolInputAddress" placeholder="192.168.1.1">
				</div>
			<div class="form-group">
				<label for="toolInputPort">Port</label>
				<input type="number" class="form-control toolInputSubmittable" id="toolInputPort" placeholder="5000">
				</div>
			<div class="form-group">
				<label for="toolInputDeviceID">Device ID</label>
				<input type="number" class="form-control toolInputSubmittable" id="toolInputDeviceID" placeholder="0">
				</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="toolInputPassive"> Passive
				</label>
			</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="formSubmit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	function dataClick(e){
    	console.log(e);
    	if (e.currentTarget.innerHTML != "") return;
    	if(e.currentTarget.contentEditable != null){
	        $(e.currentTarget).attr("contentEditable",true);
	    }
	    else{
        	$(e.currentTarget).append("<input type='text'>");
    	}    
	}

	$(".ecValue").bind("click", dataClick);

	$("#formTerminal" ).submit(function( event ) {
		event.preventDefault();
		val = $("#terminalText").val();
		$.post("{{ url_for("tool_terminal", toolname=tool.name, TID=0) }}", 'text=' + val , function( data ) {
			$('#terminal').append("&lt;0:" + val + "<br />");
			$("#terminalText").val("");
		});
	});

	$("#buttonToolSettings").click(function(){
		$.getJSON('{{ url_for("tool_settings_get", toolname=tool.name) }}', function(settings){
  			console.log(settings);

  			$("#toolInputEnabled").prop('checked', settings.enabled);
			$("#toolInputType").val(settings.type);
			$("#toolInputAddress").val(settings.address);
			$("#toolInputPort").val(settings.port);
			$("#toolInputDeviceID").val(settings.deviceID);
			$("#toolInputPassive").prop('checked', settings.passive);

			$('#toolSettings').modal();
  		});
    });

	$(".toolInputSubmittable").keydown(function (event) {
		if(event.keyCode == 13)
		{
			$("#formSettings").submit();
		}
	});

	$("#formSubmit").click(function(){
    	$('#formSettings').submit();
    });

	$("#formSettings" ).submit(function( event ) {
		event.preventDefault();

		toolEnabled = $("#toolInputEnabled").is(":checked");
		toolType = $("#toolInputType").val();
		toolAddress = $("#toolInputAddress").val();
		toolPort = $("#toolInputPort").val();
		toolDeviceID = $("#toolInputDeviceID").val();
		toolPassive = $("#toolInputPassive").is(":checked");

		$.post("{{ url_for("tool_settings_update", toolname=tool.name) }}", { enabled: toolEnabled, type: toolType, address: toolAddress, port: toolPort, deviceID: toolDeviceID, passive: toolPassive  } , function( data ) {
			if (data == "OK")
			{
			}
		});

		$("#toolSettings").modal('hide');
	});

	function doComet() {
		$.getJSON('/tools/{{ tool.name }}/comet/' + Math.random().toString(36).substr(2, 8), function(events){
			$.each( events, function( index, event ){
				console.log(event);
				switch(event.event)
				{
					case "terminal":
						$('#terminal').append("&gt;" + event.terminal + ":" + event.text + "<br />");
						break;
        			case "collectionevent":
        				valueText = "";
        				$.each(event.values, function(index, value){
        					valueText += value.name + "=" + value.value + "<br />"
        				});
        				$('#ceidtable tr:first').after('<tr><td><small>'+event.ceid+'</small></td><td><small>'+event.name+'</small></td><td><small>'+valueText+'</small></td></tr>');
        				break;
        			case "terminate":
        				return;
        				break;
        		}
	    	    doComet();
			});
    	});
	}

	doComet();
});
</script>

{% endblock %}