<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>gemma</title>

    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='jquery-2.1.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='handlebars.js') }}"></script>
    <script src="{{ url_for('static', filename='typeahead.js') }}"></script>

    <style type="text/css">
      body { padding-top: 50px; }
    </style>

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">gemma</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="tools_list tool_detail"><a href="{{ url_for('tools_list') }}">Tools</a></li>
            <li class="process_programs"><a href="{{ url_for('process_programs') }}">Process Programs</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}

    </div><!-- /.container -->
  <div id="disableOverlay"><div id="disableOverlayText"><span id="disableOverlayIcon" class="glyphicon glyphicon-alert" aria-hidden="true"></span><br/>Server not running</div></div>
  </body>
</html>

<script>
  $(document).ready(function () {
    $(".{{request.endpoint}}").addClass("active"); 
  });
</script>