{% extends "layout.html" %}
{% block body %}
  <h2>Tools</h2>
  <div>
    <div class="container">
      <div class="row">
      {% for tool in tools %}
		{% if loop.index0 is divisibleby(4) and not loop.first %}
      </div>
      <div class="row">
		{% endif %}
		{% set toolState = "toolOffline" %}
		{% if connectionManager.has_connection_to(tool.name) %}
			{% set toolState = "toolConnecting" %}
			{% if connectionManager[tool.name].connection.connectionState == 3 %}
				{% set toolState = "toolOnline" %}
			{% endif %}		
		{% endif %}		
        <a href="{{ url_for('tool_detail', toolname=tool.name) }}"><div class="col-md-3 nopadding"><div class="tool {{ toolState }}"><h4>{{ tool.name }}</h4><br />{{ tool.type }}<br />{{ tool.address }}:{{ tool.port }}/{{ tool.device_id }}<br />{% if tool.passive %}passive{% else %}active{% endif %}</div></div></a>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
