{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">

function updateCollectionEventsTable() {
    $.getJSON('{{ url_for("tool_settings_collectionevents", toolname=tool.name) }}', function(collectionEvents){
        $('#toolCollectionEventsTable').find('tbody').empty();

        $.each(collectionEvents, function(i, collectionEvent) {
            dvTable = "<table class='table table-condensed'>";
            $.each(collectionEvent["DVIDs"], function(i, dataValue) {
                dvTable += Handlebars.compile(' \
                    <tr> \
                        <td> \
                            {{ handlebar_tag("dvid") }}:{{ handlebar_tag("dvname") }} \
                            <div class="pull-right"> \
                                <button type="button" class="btn btn-default btn-xs" id="deleteDataValue{{ handlebar_tag("dvid") }}ForCE{{ handlebar_tag("ceid") }}"> \
                                    <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> \
                                </button> \
                            </div> \
                        </td> \
                    </tr> \
                    <script type="text/javascript"> \
                        $("#deleteDataValue{{ handlebar_tag("dvid") }}ForCE{{ handlebar_tag("ceid") }}").click(function(){ \
                            deleteDV({{ handlebar_tag("ceid") }}, {{ handlebar_tag("dvid") }}); \
                        }); \
                    <\/script>')({dvid: dataValue["ID"], dvname: dataValue["name"], ceid: collectionEvent["ID"]});
            });

            dvTable += Handlebars.compile(' \
                <tr> \
                    <td> \
                        <div class="pull-right"> \
                            <button type="button" class="btn btn-default btn-xs" id="newDataValue{{ handlebar_tag("ceid") }}"> \
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> \
                            </button> \
                        </div> \
                    </td> \
                </tr> \
                <script type="text/javascript"> \
                    $("#newDataValue{{ handlebar_tag("ceid") }}").click(function(){ \
                        newDV({{ handlebar_tag("ceid") }});}); \
                <\/script>')({ceid: collectionEvent["ID"]});

            dvTable += "</table>";

            $('#toolCollectionEventsTable > tbody:last').append(Handlebars.compile(' \
                <tr> \
                    <td>{{ handlebar_tag("ceid") }}:{{ handlebar_tag("cename") }}</td> \
                    <td>{{ handlebar_tag_raw("dvTable") }}</td> \
                    <td> \
                        <div class="pull-right"> \
                            <button type="button" class="btn btn-default btn-xs" id="deleteCollectionEvent{{ handlebar_tag("ceid") }}"> \
                                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> \
                            </button> \
                        </div> \
                    </td> \
                </tr> \
                <script type="text/javascript"> \
                    $("#deleteCollectionEvent{{ handlebar_tag("ceid") }}").click(function(){ \
                        deleteCE({{ handlebar_tag("ceid") }}); \
                    }); \
                <\/script>')({ceid: collectionEvent["ID"], cename: collectionEvent["name"], dvTable: dvTable}));
        });
        $('#toolCollectionEventsTable > tbody:last').append(' \
            <tr> \
                <td></td> \
                <td></td> \
                <td> \
                    <div class="pull-right"> \
                        <button type="button" class="btn btn-default btn-xs" id="newCollectionEvent"> \
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> \
                        </button> \
                    </div> \
                </td> \
            </tr> \
            <script type="text/javascript"> \
                $("#newCollectionEvent").click(function(){ \
                    newCE(); \
                }); \
            <\/script>');
    });
}

function deleteDV(ceid, dvid) {
    $.get('{{ url_for("tool_settings_collectionevent_datavalue_delete", toolname=tool.name, ceid="##ceid##", dvid="##dvid##", _external=True) }}'.replace(escape("##ceid##"), ceid).replace(escape("##dvid##"), dvid), function(events){
        updateCollectionEventsTable();
    });
}

function deleteCE(ceid) {
    $.get('{{ url_for("tool_settings_collectionevent_delete", toolname=tool.name, ceid="##ceid##", _external=True) }}'.replace(escape("##ceid##"), ceid), function(events){
        updateCollectionEventsTable();
    });
}

function idSorter(a, b) {
  return a.id - b.id;
}

function newCE() {
    $("#toolInputNewCollectionEvent").val("");

    var availableCEs = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('id', 'name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        sorter: idSorter,
        limit: 20,
        prefetch: '{{ url_for("tool_settings_collectionevent_available", toolname=tool.name, _external=True) }}'
    });
 
    availableCEs.initialize();
 
    $('#toolInputNewCollectionEvent').typeahead(null, {
        name: 'availableCEs',
        displayKey: 'id',
        source: availableCEs.ttAdapter(),
        templates: {
            suggestion: Handlebars.compile('<p><strong>{{ handlebar_tag("id") }}</strong> – {{ handlebar_tag("name") }}</p>')
        }
    });

    $('#toolNewCollectionEvent').modal();
}

function newDV(ceid) {
    $("#toolInputNewDataValue").val("");
    $("#toolInputCollectionEvent").val(ceid)

    var availableDVs = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('id', 'name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        sorter: idSorter,
        limit: 20,
        prefetch: '{{ url_for("tool_settings_datavalue_available", toolname=tool.name, ceid="##ceid##", _external=True) }}'.replace(escape("##ceid##"), ceid)
    });
 
    availableDVs.initialize();
 
    $('#toolInputNewDataValue').typeahead(null, {
        name: 'availableDVs',
        displayKey: 'id',
        source: availableDVs.ttAdapter(),
        templates: {
            suggestion: Handlebars.compile('<p><strong>{{ handlebar_tag("id") }}</strong> – {{ handlebar_tag("name") }}</p>')
        }
    });

    $('#toolNewDataValue').modal();
}

$(document).ready(function(){
    //terminal functions
    $("#formTerminal" ).submit(function( event ) {
        event.preventDefault();
        val = $("#terminalText").val();
        $.post("{{ url_for("tool_terminal", toolname=tool.name, TID=0) }}", 'text=' + val , function( data ) {
            $('#terminal').append("&lt;0:" + val + "<br />");
            $('#terminal').scrollTop($('#terminal')[0].scrollHeight);
            $("#terminalText").val("");
        });
    });

    //settings functions
    $("#buttonToolSettings").click(function(){
        $( "#modalContent" ).load( "{{ url_for("renderDialog", dialog="DialogSettings", toolname="fcq_bepa_tcb") }}" );
    });

    $("#buttonToolRestart").click(function(){
        $.get('{{ url_for("tool_restart", toolname=tool.name) }}', function(data){
        });
    });

    $("#buttonToolCollectionEvents").click(function(){
        updateCollectionEventsTable();
        $('#toolCollectionEvents').modal();
    });

    //new collection event modal
    $("#buttonNewCollectionEventSubmit").click(function(){
        $('#formNewCollectionEvent').submit();
    });

    $('#toolNewCollectionEvent').on('shown.bs.modal', function () {
        $("#toolInputNewCollectionEvent").focus();
    });

    $('#toolNewCollectionEvent').on('hidden.bs.modal', function () {
        $('#toolInputNewCollectionEvent').typeahead('destroy');
    });

    $("#formNewCollectionEvent" ).submit(function( event ) {
        event.preventDefault();

        newCEID = $("#toolInputNewCollectionEvent").val();

        if(!newCEID.match(/^\d+$/)) {
            return;
        }

        $.post("{{ url_for("tool_settings_collectionevent_create", toolname=tool.name) }}", { ceid: newCEID } , function( data ) {
            if (data == "OK")
            {
                $("#toolNewCollectionEvent").modal('hide');
                
                updateCollectionEventsTable();
            }
        });
    });

    //new data value modal
    $("#buttonNewDataValueSubmit").click(function(){
        $('#formNewDataValue').submit();
    });

    $('#toolNewDataValue').on('shown.bs.modal', function () {
        $("#toolInputNewDataValue").focus();
    });

    $('#toolNewDataValue').on('hidden.bs.modal', function () {
        $('#toolInputNewDataValue').typeahead('destroy');
    });

    $("#formNewDataValue" ).submit(function( event ) {
        event.preventDefault();

        ceid = $("#toolInputCollectionEvent").val();
        newDVID = $("#toolInputNewDataValue").val();

        if(!newDVID.match(/^\d+$/)) {
            return;
        }

        $.post('{{ url_for("tool_settings_collectionevent_datavalue_create", toolname=tool.name, ceid="##ceid##", _external=True) }}'.replace(escape("##ceid##"), ceid), { dvid: newDVID } , function( data ) {
            if (data == "OK")
            {
                $("#toolNewDataValue").modal('hide');
                
                updateCollectionEventsTable();
            }
        });
    });

    //terminal modal
    $("#buttonToolTerminal").click(function(){
        $('#toolTerminal').modal();
    });

    $('#toolTerminal').on('shown.bs.modal', function () {
        $("#terminalText").focus();
    });

    //remote command modal
    $("#buttonToolRemoteCommand").click(function(){
        $("#toolRemoteCommandParams").empty();
        $('#toolRemoteCommandSelect').empty();
        
        $('#buttonRemoteCommandSubmit').prop('disabled', true);

        $("#toolRemoteCommandSelect").append('<option value="initialSelection">---Select---</option>');

        $.getJSON('{{ url_for("tool_remotecommands", toolname=tool.name) }}', function(rcmds){
            $.each( rcmds, function( index, rcmd ){
                $("#toolRemoteCommandSelect").append('<option value="' + rcmd + '">' + rcmd + '</option>');
            });

            $('#toolRemoteCommand').modal();
        });
    });

    $( "#toolRemoteCommandSelect" ).change(function() {
        selection = $("#toolRemoteCommandSelect").val();

        if (selection != "initialSelection") {
            $("#toolRemoteCommandSelect option[value='initialSelection']").remove();
            $('#buttonRemoteCommandSubmit').prop('disabled', false);
        }

        $.getJSON('{{ url_for("tool_remotecommand_details", toolname=tool.name, rcmd="##rcmd##") }}'.replace(escape("##rcmd##"), selection), function(data){
            $("#toolRemoteCommandParams").empty();
            $.each( data.params, function( index, param ){
                $("#toolRemoteCommandParams").append(' \
                    <div class="form-group"> \
                        <label for="' + param.name + '">' + param.name + '</label> \
                        <input type="text" class="form-control toolInputSettingsSubmittable" id="' + param.name + '"> \
                    </div> \
                ');
            });
        });
    });

    $("#buttonRemoteCommandSubmit").click(function(){
        $('#formRemoteCommand').submit();
    });

    $("#formRemoteCommand").submit(function( event ) {
        event.preventDefault();

        rcmd = $("#toolRemoteCommandSelect").val();
        params = $( "#toolRemoteCommandParams :text" ).map(function() {
            return this.id + "=" + this.value;
        }).get().join("&");

        $.get('{{ url_for("tool_remotecommand_run", toolname=tool.name, rcmd="##rcmd##") }}'.replace(escape("##rcmd##"), rcmd), params , function( data ) {
            if (data == "OK")
            {
                $("#toolRemoteCommand").modal('hide');
            }
            else
            {
                $("#toolRemoteCommand .modal-body").append(' \
                    <div class="alert alert-danger alert-dismissible" role="alert"> \
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> \
                            <span aria-hidden="true">&times;</span> \
                        </button> \
                        Error:' + data + ' \
                    </div>');
            }
        });
    });

    //comet functions
    function doComet(queue) {
        $.getJSON('{{ url_for("tool_comet", toolname=tool.name, queue="##queue##", _external=True) }}'.replace(escape("##queue##"), queue), function(events){
            $("#disableOverlay").hide();
            $.each( events, function( index, event ){
                console.log(event);
                switch(event.event)
                {
                    case "TerminalReceived":
                        $('#terminal').append("&gt;" + event.terminal + ":" + event.text + "<br />");
                        $('#terminal').scrollTop($('#terminal')[0].scrollHeight);
                        break;
                    case "CollectionEventReceived":
                        valueText = "";
                        $.each(event.values, function(index, value){
                            valueText += value.name + "=" + value.value + "<br />"
                        });
                        $('#ceidtable tr:first').after('<tr><td><small>'+event.ceid+'</small></td><td><small>'+event.name+'</small></td><td><small>'+valueText+'</small></td></tr>');
                        break;
                }
            });
            doComet(queue);
        }).fail(function( jqxhr, textStatus, error ) {
            $("#disableOverlay").show();

            var err = textStatus + ", " + error;
            console.log( "Request Failed: " + err );

            setTimeout(function() { doComet(queue); }, 1000);
        });
    }

    doComet(Math.random().toString(36).substr(2, 8));
});
</script>

    <h2>
        Tool {{ tool.name }} 
        <div class="pull-right">
            <button type="button" class="btn btn-default" title="Remote Command" id="buttonToolRemoteCommand">
                <span class="glyphicon glyphicon glyphicon-log-in" aria-hidden="true">
                </span>
            </button>
            <button type="button" class="btn btn-default" title="Terminal" id="buttonToolTerminal">
                <span class="glyphicon glyphicon-align-left" aria-hidden="true">
                </span>
            </button>
            <button type="button" class="btn btn-default" title="Collection Events" id="buttonToolCollectionEvents">
                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true">
                </span>
            </button>
            <button type="button" class="btn btn-default" title="Settings" id="buttonToolSettings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true">
                </span>
            </button>
            <button type="button" class="btn btn-default" title="Restart" id="buttonToolRestart">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true">
                </span>
            </button>
        </div>
    </h2>

    <h3>CEs
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ceCollapse" aria-expanded="false" aria-controls="ceCollapse">
            Toggle
        </button>
    </h3> 
    <div class="collapse" id="ceCollapse">
        <div class="well">
            <table class="table table-condensed table-hover" id="ceidtable">
                <tr><th>CEID</th><th>Name</th><th>Data</th></tr>
            </table>    
        </div>
    </div>

    <h3>SVIDs
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#svidCollapse" aria-expanded="false" aria-controls="svidCollapse">
            Toggle
        </button>
    </h3> 
    <div class="collapse" id="svidCollapse">
        <div class="well">
            <table class="table table-condensed table-hover">
                <tr><th>SVID</th><th>Name</th><th>Value</th><th></th></tr>
                {% for svid in svids %}
                    <tr>
                        <td><small>{{ svid.SVID }}</small></td>
                        <td><small>{{ svid.SVNAME }}</small></td>
                        <td><small><span id="svid{{ svid.SVID }}">{{ svid.UNITS }}</span></small></td>
                        <td><a id="refreshSVID{{ svid.SVID }}" href="{{ url_for('tool_sv', toolname=tool.name, svid=svid.SVID) }}"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></a></span></td>
                    </tr>
                    <script type="text/javascript">
                        $('#refreshSVID{{ svid.SVID }}').click(function(event){
                            event.preventDefault();
                            $('#svid{{ svid.SVID }}').load(this.href)
                        })
                    </script>
                {% endfor %}
            </table>    
        </div>
    </div>

    <h3>ECIDs
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ecidCollapse" aria-expanded="false" aria-controls="ecidCollapse">
            Toggle
        </button>
    </h3>
    <div class="collapse" id="ecidCollapse">
        <div class="well">
            <table class="table table-condensed table-hover">
                <tr><th>ECID</th><th>Name</th><th>Min</th><th>Max</th><th>Def</th><th>Units</th><th>Value</th><th></th></tr>
                {% for ecid in ecids %}
                    <tr>
                        <td><small>{{ ecid.ECID }}</small></td>
                        <td><small>{{ ecid.ECNAME }}</small></td>
                        <td><small>{{ ecid.ECMIN }}</small></td>
                        <td><small>{{ ecid.ECMAX }}</small></td>
                        <td><small>{{ ecid.ECDEF }}</small></td>
                        <td><small>{{ ecid.UNITS }}</small></td>
                        <td><small><span id="valueECID{{ ecid.ECID }}"></span></small></td>
                        <td>
                            <a id="editECID{{ ecid.ECID }}" href="{{ url_for('tool_ec', toolname=tool.name, ecid=ecid.ECID) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></a></span>
                            <a id="refreshECID{{ ecid.ECID }}" href="{{ url_for('tool_ec', toolname=tool.name, ecid=ecid.ECID) }}"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></a></span>
                        </td>
                    </tr>
                    <script type="text/javascript">
                        $('#refreshECID{{ ecid.ECID }}').click(function(event){
                            event.preventDefault();
                            $('#valueECID{{ ecid.ECID }}').load(this.href);
                        })

                        $('#editECID{{ ecid.ECID }}').click(function(event){
                            event.preventDefault();
                            $('#valueECID{{ ecid.ECID }}').html('<form id="formECID{{ ecid.ECID }}" action="{{ url_for("tool_ec", toolname=tool.name, ecid=ecid.ECID) }}"><input id="inputECID{{ ecid.ECID }}" type="text"></form>');
                            $("#inputECID{{ ecid.ECID }}").focus();

                            href=this.href;

                            $("#formECID{{ ecid.ECID }}" ).submit(function( event ) {
                                val = $("#inputECID{{ ecid.ECID }}").val();
                                $.post(href, 'value=' + val , function( data ) {
                                    $('#valueECID{{ ecid.ECID }}').load(href);
                                });
                                event.preventDefault();
                            });
                        })
                    </script>
                {% endfor %}
            </table>    
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="toolCollectionEvents" tabindex="-1" role="dialog" aria-labelledby="toolCollectionEventsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="toolCollectionEventsLabel">Collection Events</h4>
      </div>
      <div class="modal-body">
        <table id="toolCollectionEventsTable" class="table table-condensed">
          <thead>
            <tr><th>CE</th><th>DVs</th><th class="col-sm-1"></th></tr>
          </thead>
          <tbody>
            <tr><td>dummy</td><td>dummy</td></tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="toolNewCollectionEvent" tabindex="-1" role="dialog" aria-labelledby="toolNewCollectionEventLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="toolNewCollectionEventLabel">New Collection Event</h4>
      </div>
      <div class="modal-body">
        <form id="formNewCollectionEvent">
            <div class="form-group">
                <label for="toolInputNewCollectionEvent">CEID</label>
                <input type="text" class="form-control toolInputNewCollectionEventSubmittable typeahead" id="toolInputNewCollectionEvent" placeholder="0">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="buttonNewCollectionEventSubmit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="toolNewDataValue" tabindex="-1" role="dialog" aria-labelledby="toolNewDataValueLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="toolNewDataValueLabel">New Data Value</h4>
      </div>
      <div class="modal-body">
        <form id="formNewDataValue">
            <div class="form-group">
                <label for="toolInputNewDataValue">DVID</label>
                <input type="text" class="form-control toolInputNewDataValueSubmittable typeahead" id="toolInputNewDataValue" placeholder="0">
            </div>
            <input type="hidden" id="toolInputCollectionEvent" value="-1">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="buttonNewDataValueSubmit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="toolTerminal" tabindex="-1" role="dialog" aria-labelledby="toolTerminalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="toolTerminalLabel">Terminal</h4>
      </div>
      <div class="modal-body">
        <div class="well">
            <pre id="terminal"></pre>
            <form id="formTerminal" action="{{ url_for("tool_terminal", toolname=tool.name, TID=0) }}"><input id="terminalText" class="form-control" type="text"></form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="toolRemoteCommand" tabindex="-1" role="dialog" aria-labelledby="toolRemoteCommandLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="toolRemoteCommandLabel">Remote Command</h4>
      </div>
      <div class="modal-body">
        <form id="formRemoteCommand">
          <div class="form-group">
            <select id="toolRemoteCommandSelect" class="form-control">
            </select>
          </div>
          <div id="toolRemoteCommandParams">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="buttonRemoteCommandSubmit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>

<div id="modalContent"></div>

{% endblock %}